body{
	font-family: sans-serif
}

/* Barre de navigation */

	nav{
		position: fixed;
		top: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		left: 0px;
		overflow: hidden;
		list-style-type: none;
		background-color: #EDE4E2;
		z-index: 100;
	}

	a{
		display: block;
		padding: 14px 16px;
		cursor: pointer;
	}

	li{
		float: right;
		display: inline;
	}

	nav li a .icon{
		width: 50px;
		height: 40px;
		text-align: center;
		overflow: hidden;
		margin: 0px;

	}

	nav li a .icon .fa{
		width: 100%;
		height: 100%;
		line-height: 40px;
		font-size: 34px;
		transition: 0.5s;
		color: #000;
	}
	
	#nav-active{
		background-color: #85C1E9;
	}

	.logo{
		float: left;
		margin-left: 10px;
		width: 70px;
		padding: 5px
	}

/*Section Sélection articles*/

    .sec-articles{
        margin-top: 90px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #00000011;
        border-radius: 20px;
        display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
    }

    .win-11{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.267);
		text-align: center;
    }

	.win-11 img{
		width: 100%;
        max-width: 20rem;
		background-color: #ffffff;
		border-radius: 5px;
	}

    .win-10{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.267);
		text-align: center;
    }

    .win-10 img{
		width: 100%;
        max-width: 25rem;
		background-color: #ffffff;
		border-radius: 5px;
	}

	.rasp-5{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.267);
		text-align: center;
    }

    .rasp-5 img{
		width: 100%;
        max-width: 25rem;
		background-color: #ffffff;
		border-radius: 5px;
	}

	@media (max-width: 1080px) {
		.sec-articles{
			margin-left: 0%;
		}
		nav li a .icon {
				width: 40px;
				height: 50px;
		}
	}